ANTHROPIC_API_KEY=y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

SPOTIFY_CLIENT_ID=y99073002be2e4246b3e2d3572b379da0
SPOTIFY_CLIENT_SECRET=45df3cf341674fab8b6253efee9709e0
SPOTIFY_REDIRECT_URI=https://localhost:3000/callback

SESSION_SECRET=some_long_random_string_here

PORT=3000
